
#c1
  float: left
  margin-right: 50px

#c2
  float: left
  margin-right: 50px

#c3
  float: left
  margin-right: 50px

#c4
  float: left
  margin-right: 50px

#c5
  float: left
  margin-right: 50px
  
#sep
  clear: both

#details

  label
    font-weight: bold

#tabs 
  ul
    list-style: none
    padding: 0
    margin: 20 0 0 0
    border-bottom: solid 1px black

  li
    display: inline
    border: solid
    font-size: 14pt
    border-width: 1px 1px 0 1px
    margin: 0 0.5em 0 0
    padding: 0px 5px

    a
      padding: 0 1em
      
  li.selected
    font-weight: bold

#velocity,
#stories
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
  #title
    font-size: 16pt
    margin-bottom: 5px
    margin-top: 20px
  
  #subtitle
    font-size: 14pt
    margin-top: 10px
    margin-bottom: 0px
  
  table
    border-collapse: collapse
    border-spacing: 2px 2px
    margin-bottom: 20px

    thead
      display: table-header-group

      th
        font-size: 14pt
        font-weight: normal
        padding-right: 10px
        padding-left: 10px
        background: #AAAAAA
        border-bottom: 1px solid white
        border-right: 1px solid white
        border-top: 4px solid #888888
        word-break: normal
        white-space: nowrap
        
    tr
      background: #D0DAFD
      
      td
        font-family: 'Andale Mono', 'Courier New', 'Courier', 'monospace'
        white-space: nowrap
        padding: 9px 8px
        border-bottom: 1px solid white
        border-right: 1px solid white
        border-top: 1px solid transparent

      .month
        text-align: left

      .story
        text-align: left
        white-space: normal
        width: 500px
        font-family: 'Gill Sans', 'Helvetica', 'Verdana', 'sans-serif', 'Florence', 'cursive'

      p
        margin-top: 0px
        margin-bottom: 4px
             
    tr.right
      text-align: right
      
    tr.grey
      background: #DDDDDD

    tr.orange
      background: #FFBD82

    tr.purple
      background: #D698FE

    tr.teal
      background: #A5D3CA

    tr.red
      background: #FFBBBB
      
    tr.yellow
      background: #F5F7C4

    tr.blue
      background: #DBEBFF
      
    tr.green
      background: #93EEAA
