#c1 {
  float: left;
  margin-right: 50px; }

#c2 {
  float: left;
  margin-right: 50px; }

#c3 {
  float: left;
  margin-right: 50px; }

#c4 {
  float: left;
  margin-right: 50px; }

#c5 {
  float: left;
  margin-right: 50px; }

#sep {
  clear: both; }

#details label {
  font-weight: bold; }

#tabs ul {
  list-style: none;
  padding: 0;
  margin: 20 0 0 0;
  border-bottom: solid 1px black; }
#tabs li {
  display: inline;
  border: solid;
  font-size: 14pt;
  border-width: 1px 1px 0 1px;
  margin: 0 0.5em 0 0;
  padding: 0px 5px; }
  #tabs li a {
    padding: 0 1em; }
#tabs li.selected {
  font-weight: bold; }

#velocity,
#stories {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  #velocity #title,
  #stories #title {
    font-size: 16pt;
    margin-bottom: 5px;
    margin-top: 20px; }
  #velocity #subtitle,
  #stories #subtitle {
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 0px; }
  #velocity table,
  #stories table {
    border-collapse: collapse;
    border-spacing: 2px 2px;
    margin-bottom: 20px; }
    #velocity table thead,
    #stories table thead {
      display: table-header-group; }
      #velocity table thead th,
      #stories table thead th {
        font-size: 14pt;
        font-weight: normal;
        padding-right: 10px;
        padding-left: 10px;
        background: #aaaaaa;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        border-top: 4px solid #888888;
        word-break: normal;
        white-space: nowrap; }
    #velocity table tr,
    #stories table tr {
      background: #d0dafd; }
      #velocity table tr td,
      #stories table tr td {
        font-family: "Andale Mono", "Courier New", "Courier", "monospace";
        white-space: nowrap;
        padding: 9px 8px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        border-top: 1px solid transparent; }
      #velocity table tr .month,
      #stories table tr .month {
        text-align: left; }
      #velocity table tr .story,
      #stories table tr .story {
        text-align: left;
        white-space: normal;
        width: 500px;
        font-family: "Gill Sans", "Helvetica", "Verdana", "sans-serif", "Florence", "cursive"; }
      #velocity table tr p,
      #stories table tr p {
        margin-top: 0px;
        margin-bottom: 4px; }
    #velocity table tr.right,
    #stories table tr.right {
      text-align: right; }
    #velocity table tr.grey,
    #stories table tr.grey {
      background: #dddddd; }
    #velocity table tr.orange,
    #stories table tr.orange {
      background: #ffbd82; }
    #velocity table tr.purple,
    #stories table tr.purple {
      background: #d698fe; }
    #velocity table tr.teal,
    #stories table tr.teal {
      background: #a5d3ca; }
    #velocity table tr.red,
    #stories table tr.red {
      background: #ffbbbb; }
    #velocity table tr.yellow,
    #stories table tr.yellow {
      background: #f5f7c4; }
    #velocity table tr.blue,
    #stories table tr.blue {
      background: #dbebff; }
    #velocity table tr.green,
    #stories table tr.green {
      background: #93eeaa; }
