- if @configurations.count == 0
  %h3 (You have no configured projects)
- else
  %table
    %tr
      %th Key
      %th Name
      %th Project Id
      %th Op
    = render(:partial => "configuration", :collection => @configurations, :local => { :current_config => @current_config })
