%div{:id => configuration == @current_config ? "current_config" : "config"}
  #project_id #{configuration.project_id}:
  #project_name= configuration.name
  #op
    = link_to '(Remove)', user_project_config_path(current_user, :id => configuration.id), :method => 'delete', :confirm => "Are you sure you want to delete this configuration?", :remote => true
    = link_to '(Detail)', project_path(configuration.project_id, :api_key => configuration.api_key)
