- args = { "project[api_key]" => @api_key, "project[name]" => project.name, "project[project_id]" => project.id }
- config = @configurations.find_by_project_id(project.id)
#project
  #id #{project.id}:
  #name= project.name
  #owner= project.owner.name
  #op= config.nil? ? link_to("Add", new_user_project_config_path(current_user, args), :remote => true) : "(Added)" 
