%h3 Search Results
%h4 Please add projects you own
%table#projects
  %tr
    %th Id
    %th Name
    %th Op
  = render(:partial => "project", :collection => @projects, :local => { :api_key => @api_key })
  