- @title = "Project configuration page"

%h2= link_to "(Configure)", new_user_project_config_path

- if @projects.count == 0
  %h2 You have no configured projects
- else
  - @projects.each do |project|
    %p= project.name
