- @title = "User Project configurations page"

%h2 Registered project configurations

%div#configurations
  = render("configurations", :collection => @configurations)

%hr
%h3 Add project configuration
- form_tag user_project_config_index_path(current_user), :remote => true do
  %p
    = label_tag :api_key
    = text_field_tag :api_key, :size => 100
  %p= submit_tag "Search"

%div#search_results
