- @title = Main project config page
- if !user_signed_in? 
  %h2 Please sign in in order to see your projects
- else
  %h2 Projects configured so far (configure)
  - if @projects.count = 0
    %p You have no configured projects
