#velocity
  #title Velocity by month
  %table#c1
    %thead
      %tr
        %th Month
        %th Stories
        %th Vel.
        %th 1 Pt.
        %th Eff. %
    %tbody
      = render(:partial => "month", :collection => @months)
      
  %img#c2{:src => velocity_graph(@months)}
  
  #sep
  
