#velocity
  #title Velocity by month
  %table
    %thead
      %tr
        %th Year
        %th Month
        %th Stories
        %th Velocity
        %th 1 Point = X days
        %th Efficiency %
    %tbody
      = render(:partial => "month", :collection => @months)
