#stories
  #title Last 5 weeks in Archive
  - @byweek.sort { |k1, k2| k1[0].start <=> k2[0].start }.reverse.each do |array|
    - week, stories = array[0], array[1].sort_by(&:finished_on).reverse
    #subtitle #{week.start.strftime('%b %d')} to #{week.finish.strftime('%b %d')}
    %table
      %thead
        %tr
          %th Id
          %th Text
          %th Size
          %th Start
          %th Fin.
          %th 1 Pt
          %th Dur.
          %th Block.
          %th Wait
          %th AWork
          %th Eff. %
      %tbody
        = render(:partial => "story", :collection => stories)

