- archive = @project.stories_in_archive
#details
  = column_metrics(1, 'Description', @project.description, 'Created on', date_format_long(@project.created_on))
  = column_metrics(2, 'Completed', stories(archive), 'Eff.', efficiency(archive))
  = column_metrics(3, 'Velocity', velocity(archive), '1 point', point_duration(archive))

  #sep
