- title "#{@project.name} details"

= render("details_info", :local => {:project => @project})

= render("details_velocity", :local => {:months => @months})

= render("details_stories", :local => {:byweek => @byweek})